<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="NASA-API_KEY" value="" />
  <add key="NASA-API_URL" value="https://api.nasa.gov/planetary/apod" />
  <add key="folderPath" value="C:\Desktop_Background_Calendar" />
  <add key="CultureInfo" value="nb-NO" />
  <add key="ReSizeX" value="335" />
  <add key="ReSizeY" value="390" />
  <add key="last-downloaded" value="" />
  <add key="downloaded-from" value="" />
 </appSettings>
</configuration>